i.mce-i-wizzaro-grid-add-row:before {
    font: normal 20px/1 'dashicons';
    content: '\f489';
}
i.mce-i-wizzaro-grid-add-column:before {
    font: normal 20px/1 'dashicons';
    content: '\f538';
}
